<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KSquares" version="1">
	<ToolBar noMerge="1" name="mainToolBar" >
		<text>Main Toolbar</text>
		<Action name="game_new" />
		<Action name="game_quit" />
	</ToolBar>
</kpartgui>
