[Desktop Entry]
Encoding=UTF-8
Name=KSquares
Exec=ksquares %i -caption "%c"
Icon=ksquares
Type=Application
DocPath=ksquares/ksquares.html
GenericName=Connect the dots to create squares
Terminal=false
Categories=Qt;KDE;Game;BoardGame;
