[Desktop Entry]
Encoding=UTF-8
Name=KSquares
Name[sv]=Kfyrkanter
Name[x-test]=xxKSquaresxx
Exec=ksquares %i -caption "%c"
Icon=ksquares
Type=Application
DocPath=ksquares/ksquares.html
GenericName=Connect the dots to create squares
GenericName[el]=Συνδέστε τις τελείες για να σχηματίσετε τετράγωνα
GenericName[ja]=点を結んで正方形を作るゲーム
GenericName[sv]=Sammanbind punkterna för att skapa fyrkanter
GenericName[uk]=З'єднайте точки, щоб створити квадрати
GenericName[x-test]=xxConnect the dots to create squaresxx
Terminal=false
Categories=Game;BoardGame;KDE;
